<a href="https://colab.research.google.com/github/vicpb/mlops-alura/blob/main/HousePrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving casas.csv to casas.csv

In [4]:
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['casas.csv']))

In [5]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [6]:
colunas = ['tamanho','preco']
df = df[colunas]
df.head()

   tamanho   preco
0    159.0  208500
1    117.0  181500
2    166.0  223500
3    160.0  140000
4    204.0  250000

In [7]:
x = df.drop('preco', axis=1)
y = df['preco']

In [8]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [11]:
X_train.head()

      tamanho
135     156.0
1452    100.0
762     144.0
932     177.0
435     154.0

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
modelo.coef_

array([1084.75077747])

In [16]:
modelo.intercept_

27206.968559935078

In [17]:
modelo.predict([[120]])

array([157377.06185642])